/* CABEÇALHO */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100px;
    background-color: #f8f9fa;
    border-radius: 10px;
    position: relative;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-container a:first-child {
    position: absolute;
    left: 20px;
}

/* Logo */
.logo {
    height: 70px;
    width: auto;
}

/* Ícones */
.icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/* Estilos específicos para a página de login */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    background-color: #f8f9fa;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #B8B1DB;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #999AD2;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.login-box button:hover {
    background-color: #B8B1DB;
}

.admin-link {
    display: block;
    margin-top: 10px;
    color: #999AD2;
    text-decoration: none;
}

.admin-link:hover {
    color: #B8B1DB;
}
